<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appgastos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppGastos">
        <activity android:name=".MenuTarjetas"></activity>
        <activity android:name=".IngresarGastoCategoria" />
        <activity android:name=".IngresarGasto" />
        <activity android:name=".IngresarGastoFinal" />
        <activity
            android:name=".ListaTarjetas"
            android:exported="false" />
        <activity android:name=".NuevaContrasena" />
        <activity android:name=".RecuperarContrasenaValidacion" />
        <activity android:name=".RecuperarContrasena" />
        <activity android:name=".ModifyCategoriesFragment" />
        <activity android:name=".CategoryDelete" />
        <activity android:name=".RutinaCategorias" />
        <activity android:name=".RutinaOtrasCategorias" />
        <activity android:name=".RutinaGastos" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroTarjeta"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaginaInicio"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppGastos.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>